@import url('https://raw.githack.com//Discord-Theme-Addons/refined-user-connections/main/src/support/RefinedUserConections.theme.css');
@import url('https://tomrdh.github.io/discord-addons/xcores/themes/RNT_Core.css'); /* <-- No Nitro */
@import url('https://discord-theme-addons.github.io/compact-userarea/src/support/compiled.css');
@import url('https://raw.githack.com/Discord-Theme-Addons/modern-channel-indicators/main/src/support/ModernChannelIndiactors.theme.css');

/* ==Radial Status CSS== */

@import url("https://discordstyles.github.io/RadialStatus/base.css");
:root {
    --rs-small-spacing: 2px;  /* spacing between avatar and status */
    --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
    --rs-width: 2px;  /* Width/thickness of status border */
    --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
    --rs-online-color: #43b581;  /* color for online status */
    --rs-idle-color: #faa61a;  /* color for idle status */
    --rs-dnd-color: #f04747;  /* color for dnd status */
    --rs-offline-color: #636b75;  /* color for offline status */
    --rs-streaming-color: #643da7;  /* color for streaming status */
    --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
}
