@import url("https://kckarnige.github.io/DC-Gradient-Theme/misc.css");

.theme-dark,
:root {
    --background-primary: linear-gradient(109.6deg, rgba(5, 84, 94, 1) 16%, #bbb 91.1%) !important;
    --channeltextarea-background: #36393f42 !important;
    --background-secondary: #36393f42 !important;
    --background-tertiary: #36393fa3 !important;
    --scrollbar-auto-track: #36393f7a !important;
    --scrollbar-auto-thumb: #23272a8f !important;
    --scrollbar-thin-thumb: #23272a8f !important;
    --interactive-normal: #7d7d7d !important;
    --text-link: #86eee5 !important;
    --text-normal: #ffffff !important;
    --channels-default: #ffffff !important;
    --elevation-low: 0 !important;

    /* ==Channel Indicators== */
    --unread-badge: rgba(255, 255, 255, 0.6) !important;
    --unread-bg: rgba(255, 255, 255, 0.01) !important;
    --selected-badge: #86eee5 !important;
    --selected-bg: #86eee536 !important;
    --selected-bg-hover: #86eee54a !important;
    --hovered-bg: #86eee51f !important;
    --bg-rounding: 0 50px 50px 0 !important;
    --border-info: 2px solid !important;
}

::selection {
    background-color: #84e3db9e !important;
    color: #fff !important;
}

.wrapper-1Rf91z {
    background: #2022256b !important;
}

.scroller-2TZvBN {
    background: transparent !important;
}

#app-mount .container-3baos1 .avatarWrapper-2yR4wp {
    background: transparent !important;
}
.container-1r6BKw.themed-ANHk51 {
    background: #36393f73 !important;
}

.chat-3bRxxu,
.threadSidebar-1o3BTy {
    background: var(--background-primary) !important;
    background-size: cover !important;
}

.theme-dark .uploadModal-2ifh8j,
.theme-dark .root-1gCeng {
    background: #36393fa3 !important;
}

.theme-dark .footer-3mqk7D,
.theme-dark .footer-2gL1pp {
    background: #86eee5a3 !important;
}

.attachment-33OFj0 {
    background: #23272aa3 !important;
    border-color: #23272aa3 !important;
}

.content-1o0f9g {
    background: #36393fa3 !important;
    color: #ffffff !important;
}

.divider-JfaTT5 {
    border-top: thin solid #36393fa3 !important;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background: #202225 !important;
}

.cozy-3raOZG .timestamp-3ZCmNB,
.username-1A8OIy {
    color: #eaeaea !important;
}

.messageGroupWrapper-o-Zw7G {
    background: var(--background-secondary) !important;
    border: 1px solid var(--background-secondary) !important;
}

.embedFull-2tM8--,
.background-1QDuV2,
.item-26Dhrx {
    background: #36393fa3 !important;
}

.wrapper-3WhCwL {
    color: #86eee5 !important;
    background: #86eee569 !important;
}

.interactive:hover {
    color: #fff !important;
    background-color: #86eee569 !important;
}

.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: #171717 !important;
    color: #ffffff !important;
}

.emptyCard-1RJw8n {
    background: transparent !important;
}

html.theme-light .scrollableContainer-2NUZem::before {
    content: " This theme is specifically for dark mode. Switch to back to dark mode, or uninstall.                 ";
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
    background-color: #17171740;
    text-align: center;
    position: fixed;
    z-index: 10001;
    transform: translate(5%, 35%);
}

.tipTitle-GL9qAt {
    color: var(--text-link) !important;
    transform: translate(0%, -10%) !important;
}

.container-16j22k {
    background: var(--background-primary) !important;
}

.content-1-zrf2 {
    background-color: #17171740 !important;
    padding: 12px !important;
    border-radius: 25px !important;
}

.problems-3mgf6w {
    background-color: #17171740;
    padding: 12px !important;
}
.ready-36e6Vk {
    background-color: #17171740;
    border-radius: 25px !important;
    padding: 5px !important;
    transform: translate(0%, 4%) !important;
}

.tip-2cgoli {
    transform: translate(0%, 35%) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #ffffff !important;
    background: #84e3db !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    color: #000000 !important;
    background: #86eee5 !important;
}

.nowPlayingColumn-2sl4cE {
    background: #23272a69 !important;
}

.app-2rEoOp {
    background: var(--background-primary) !important;
}

.theme-dark .container-1D34oG {
    background: #36393f42 !important;
}

.themed-OHr7kt .item-PXvHYJ,
.theme-dark .keybind-KpFkfr {
    color: var(--text-normal) !important;
}

.theme-dark .closeButton-1tv5uR {
    border-color: #ffffffa3 !important;
}

.theme-dark .message-2qRu38 {
    background-color: transparent !important;
    box-shadow: none !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: #84e3db !important;
    color: #2f2f2f !important;
}

.childWrapper-anI2G9 {
    color: #84e3db !important;
}

.item-2hkk8m {
    background-color: #84e3db !important;
}

.newMessagesBar-265mhP {
    background-color: #84e3db !important;
}

.label-22pbtT,
.colorDefault-2K3EoJ {
    color: #fff !important;
}

.menu-3sdvDG {
    backdrop-filter: blur(5px) !important;
    background: #23272a69 !important;
}

.icon-LYJorE {
    color: #fff !important;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: #84e3db !important;
    transition: 0.2s !important;
}

.reactionCount-2mvXRV {
    color: var(--text-normal) !important;
}

.mention-1f5kbO {
    background-color: #84e3db !important;
    opacity: 1 !important;
    color: #fff !important;
    transition: 0.2s !important;
}

.mention-1f5kbO:hover {
    background-color: #84e3db !important;
    color: #2f2f2f !important;
    transition: 0.2s !important;
    opacity: 1 !important;
}

.botTagRegular-2HEhHi {
    background-color: #84e3db !important;
    color: #fff !important;
}
